/* body { background-color: rgb(248, 247, 247) !important; } */

.account-text > a {
    color: white !important;
  }
.account-text > a,
.account-dropdown > a {
    color: white !important;
}

.account-dropdown.show > a {
  background-color: transparent;
  color: white !important;
}
.account-text > a {
    color: white !important;
  }
  .account-text > a:hover {
    color: white !important;
  }

  /* body {
    color: rgb(0, 0, 224)
  } */